.about {
    margin: 0;
    margin-top: 2rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s ease-in;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    display: inline;
}

p {
    font-size: 1.4rem;
}