.about {
    font-family: 'Didact Gothic', sans-serif;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s ease-in;
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
    display: inline;
}

p {
    font-size: 1.4rem;
    padding-bottom: 0;
}

h4 {
    margin: 0 auto;
    margin-top: 1rem;
    font-weight: bold;
}

button {
    font-size: 3rem;
    margin: 2rem;
}

@media (max-width: 580px){
    .about {
        padding-left: .5rem;
    }
    h4 {
        text-align: center;
    }
}