.bio {
    display: flex;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 1px solid black;
}

.imageGrid {
    margin: 8rem auto;
}

.imageGrid img {
    width: 100%;
    height: 12rem;
    margin: 0;
    padding: 0;
    animation: fadeIn 3s ease-in;
}

.imageGrid #img1 {
    animation-delay: .25s;
}
.imageGrid #img2 {
    animation-delay: 1.75s;
}
.imageGrid #img3 {
    animation-delay: 1.25s;
}
.imageGrid #img4 {
    animation-delay: .75s;
}
.imageGrid #img5 {
    animation-delay: 1.5s;
}
.imageGrid #img6 {
    animation-delay: 2.75s;
}
.imageGrid #img7 {
    animation-delay: 1s;
}
.imageGrid #img8 {
    animation-delay: 2.25s;
}

@keyframes fadeIn { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}