nav {
    display: flex;
    padding: 0;
    width: 100%;
    height: 3.5rem;
    position: fixed;
    font-family: 'Didact Gothic', sans-serif;
    background-color: rgb(250,250,250);
}

#name {
    margin-left: 5rem;
    font-size: 1.5rem;
}

/* header h2 {
    text-align: center;
    margin-left: 60px;
    margin-bottom: 0;
    font-size: 2rem;
}  */

nav li:active {
    color: rgb(200, 0, 50);
}

nav a {
    text-decoration: none;
    color: rgb(0,0,0);
    cursor: pointer;
    opacity: .8;
}

nav li:hover {
    opacity: 1;
    text-decoration: none;
    color: rgb(200, 0, 50);
}

ul {
    margin-left: auto;
}

/* nav li {
    margin: 0 15px;
    list-style: none;
}

nav li:first-child {
    margin-left: 0;
}

nav li:last-child {
    margin-right: 60px;
}  */
