.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
    
    max-width: 400px;
    max-height:500px;
    margin-bottom: 2rem;
    overflow-x: hidden;
}
.demo img {
    width: 100%;
    height:100%;
    padding: 0;
    margin-bottom: 1 rem;
}

.name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.8rem; 
    margin: .25em; 
}

#projectUL {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 400px;
    padding: 0;
}

#projectLI {
    max-width: 342px;
}

@media (max-width: 580px){
    .demo {
        width: 100%
    }
    #projectLI {
        margin-left: 1rem;
    }
}